.centered-light-block {
  text-align: center;
  color: $gl-text-color;
  margin: 20px;
}

.nothing-here-block {
  text-align: center;
  padding: 16px;
  color: $gl-text-color;
  font-weight: $gl-font-weight-normal;
  font-size: 14px;

  &.diff-collapsed {
    padding: 5px;
    line-height: 34px;

    .click-to-expand {
      cursor: pointer;
      vertical-align: initial;
    }
  }
}

.oneline {
  line-height: 35px;
}

.row-content-block {
  margin-top: 0;
  background-color: $gray-light;
  padding: $gl-padding;
  margin-bottom: 0;
  border-top: 1px solid $white-dark;
  border-bottom: 1px solid $white-dark;
  color: $gl-text-color;

  &.oneline-block {
    line-height: 42px;
  }

  &.white {
    background-color: $white;
  }

  &.top-block {
    border-top: 0;

    .container-fluid {
      background-color: inherit;
    }
  }

  &.middle-block {
    margin-top: $gl-padding-24;
    margin-bottom: 0;
  }

  &.clear-block {
    margin-bottom: $gl-padding - 1px;
    padding-bottom: $gl-padding;
  }

  &.second-block {
    margin-top: -1px;
    margin-bottom: 0;
  }

  &.footer-block {
    margin-top: $gl-padding-24;
    border-bottom: 0;
  }

  &.content-component-block {
    padding: 8px 0;
    background-color: $body-bg;
  }

  .title {
    color: $gl-text-color;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  .block-controls {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .control {
      float: left;
      margin-left: 10px;
    }
  }

  &.build-content {
    background-color: $white;
    border-top: 0;
  }
}

.sub-header-block {
  background-color: $white;
  border-bottom: 1px solid $white-dark;
  padding: 11px 0;
  margin-bottom: 11px;

  &.no-bottom-space {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.cover-block {
  text-align: center;
  background: $gray-light;
  padding-top: 44px;
  position: relative;

  .avatar-holder {
    .avatar,
    .identicon {
      margin: 0 auto;
      float: none;
    }

    .identicon {
      border-radius: 50%;
    }
  }

  .cover-title {
    color: $gl-text-color;
    font-size: 23px;

    h1 {
      color: $gl-text-color;
      margin-bottom: 6px;
      font-size: 23px;
    }

    .visibility-icon {
      display: inline-block;
      margin-left: 5px;
      font-size: 18px;
      color: color('gray');
    }

    p {
      padding: 0 $gl-padding;
      color: $gl-text-color;
    }
  }

  .cover-controls {
    @include media-breakpoint-up(sm) {
      position: absolute;
      top: 1rem;
      right: 1.25rem;
    }

    &.left {
      @include media-breakpoint-up(sm) {
        left: 1.25rem;
        right: auto;
      }
    }
  }

  &.groups-cover-block {
    background: $white;
    border-bottom: 1px solid $border-color;
    text-align: left;
    padding: 24px 0;

    .group-info {
      .cover-title {
        margin-top: 9px;
      }

      p {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-down(xs) {
      text-align: center;

      .avatar {
        float: none;
      }
    }
  }

  &.user-cover-block {
    padding: 24px 0 0;

    .nav-links {
      width: 100%;
      float: none;

      &.scrolling-tabs {
        float: none;
      }
    }

    li:first-child {
      margin-left: auto;
    }

    li:last-child {
      margin-right: auto;
    }
  }

  .group-info {
    h1 {
      display: inline;
      font-weight: $gl-font-weight-normal;
      font-size: 24px;
      color: $gl-text-color;
    }
  }
}

.block-connector {
  margin-top: -1px;
}

.content-block {
  padding: $gl-padding 0;
  border-bottom: 1px solid $white-dark;

  &.oneline-block {
    line-height: 36px;
  }

  > .controls {
    float: right;
  }

  .new-branch {
    margin-top: 3px;
  }
}

.content-block-small {
  padding: 4px 0;
}

.landing {
  margin: $gl-padding auto;
  overflow: hidden;
  display: flex;
  position: relative;
  border: 1px solid $blue-300;
  border-radius: $border-radius-default;
  background-color: $blue-50;
  justify-content: center;

  .dismiss-button {
    position: absolute;
    right: $gl-padding-8;
    top: $gl-padding-8;
    cursor: pointer;
    color: $blue-500;
    z-index: 1;
    border: 0;
    background-color: transparent;
    padding: $gl-padding-8;
    line-height: 0;

    &:hover,
    &:focus {
      border: 0;
      color: $blue-700;
    }
  }

  .svg-container {
    align-self: center;
  }

  .inner-content {
    text-align: left;
    white-space: nowrap;

    h4 {
      color: $gl-text-color;
      font-size: 17px;
    }

    p {
      color: $gl-text-color;
      margin-bottom: $gl-padding;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .inner-content {
      white-space: normal;
      padding: 0 28px;
      text-align: center;
    }
  }
}

.empty-state {
  margin: 5% auto 0;

  .text-content {
    max-width: 460px;
    margin: 0 auto;
    padding: $gl-padding;
  }

  .emoji-icon {
    display: inline-block;
  }

  .btn {
    margin: $gl-padding-8 $gl-padding-4;

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin: $gl-padding-8 0;
    }
  }
}

.flex-right {
  margin-left: auto;
}

.code-block {
  background: $black;
  color: $gray-darkest;
  white-space: pre;
  overflow-x: auto;
  font-size: 12px;
  border: 0;
  padding: $grid-size;

  code {
    background-color: inherit;
    padding: inherit;
  }
}
